.waiting {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
    max-width:50%;
    margin:auto;
}

.field {
    padding:2vw;
    margin-left: auto;
    margin-right: auto;
    width: 81vh;
    background-color: lightgray;
    border-radius:2vh;
}

.board {
    background-color: green;
    margin-left: auto;
    margin-right: auto;
}

.square {
    width: 9vh;
    height: 9vh;
    min-width: 9vh;
    min-height: 9vh;
    max-width: 9vh;
    max-height: 9vh;
    border: 1px;
    border-style: dashed;
}


td:hover {
    background-color: lime;
}

td {
    text-align: center;
}

.disc {
    width: 8vh;
    height: 8vh;
    min-width: 8vh;
    min-height: 8vh;
    max-width: 8vh;
    max-height: 8vh;
}

.potential-disc {
    width: 8vh;
    height: 8vh;
    min-width: 8vh;
    min-height: 8vh;
    max-width: 8vh;
    max-height: 8vh;
    opacity: 0.3;
}

@media (max-aspect-ratio: 1/1) {
    .field {
        width: 72vw;
    }

    .square {
        width: 8vw;
        height: 8vw;
        min-width: 8vw;
        min-height: 8vw;
        max-width: 8vw;
        max-height: 8vw;
    }

    .disc {
        width: 6vw;
        height: 6vw;
        min-width: 6vw;
        min-height: 6vw;
        max-width: 6vw;
        max-height: 6vw;
    }

    .potential-disc {
        width: 6vw;
        height: 6vw;
        min-width: 6vw;
        min-height: 6vw;
        max-width: 6vw;
        max-height: 6vw;
    }
}

button {
    border-radius: 5px;
}

.hidden {
    visibility: hidden;
}